ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 15px;
}

.card-title {
    font-size: 20px;
}

img {
    width: 95px;
    height: 95px;
}
.fiveDayColor {
    padding: 25px;
    background-color: #379bcd;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;

}